body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.below-logo {
  padding-bottom: 50px;
}

.logo {
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  margin: auto;
  width: 125px;
}

@media (max-width: 1000px) {
  .center-text {
    text-align: center;
  }
}

.headlines {
  font-family: korolev,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  text-transform: uppercase;
}

.coming-soon {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: korolev,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}

.topic {
  font-family: korolev,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.3em;
  text-transform: uppercase;
}

.write-up {
  padding-bottom: 50px;
  font-family: korolev,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}


.photo {
  width: 100%;
  padding-bottom: 50px;
}

.write-up {
  text-align: left;
}

.inline-photo1 {
  width: 525px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.inline-photo2 {
  width: 525px;
  padding-bottom: 10px;
}

@media (max-width: 1000px) {
  .inline-photo1 {
    max-width: 450px;
    height: auto;
    display: block;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .inline-photo2 {
    max-width: 450px;
    height: auto;
    display: block;
    margin: auto;
  }
}

